/* my style */
body{
	padding: 0;
	margin: 0;
	background:whitesmoke;
	font-family: 'Angkor', Tahoma, Geneva, Verdana, sans-serif;
}
/* start btn scroll to top */
.btn-scroll-top{
	position:fixed;z-index:1234;bottom:10px;background:rgba(0,0,0,0.5);
	border-radius:5px;right:10px;color:white;font-size: 2rem;
	transition: 0.5s;
	padding: 0.5rem;
	display: none;
}
.btn-scroll-top:hover{
	cursor: pointer;
	background:rgba(0,0,0,0.8);
	padding: 0.2rem;
	font-size: 2.5rem;
}
/* end btn-scroll to top */
.container-fluid{
	position: relative;
}
.bg-white{
	background:white;
}
.border-top-yellow{
	border-top:1px solid yellow;
	width: 100%;
	float: left;
	box-sizing: border-box;
}
.text-gray{
	color:gray;
}
.container{
	max-width: 1150px;
	margin: auto;
	overflow: hidden;
}
.wrapper-div{
	width: 100%;
	float: left;
	overflow: hidden;
}
.mt-100{
	margin-top:100px;
}
h1{
	padding:0;
	margin:0;
}
h4,p{
	margin:0;
	padding-top: 0;
	font-family: 'Battambang',sans-serif;
	font-size: 1.3rem;
}
.w-100{
	width:100%;
}
.wrapper-logo{
	float: left;box-sizing: border-box;height:100%;
	padding-top:10px;padding-bottom:10px
}
.wrapper-img-width{
	width:55px;float: left;
}
.wrapper-img-width img{
	width:100%;box-sizing: border-box;
}
.wrapper-logo-title{
	float:left;height: 100%;
}
.wrapper-logo-title h2{
	font-weight: normal;color:rgb(11, 80, 14);margin-top:0px;padding-top: 15px
}
.bg-nav{
	background-color: rgb(106, 248, 252);
}

.shadow-left-side{
	box-shadow: -2px 1px 3px 0px whitesmoke;
	box-sizing: border-box;
}
.shadow-right-side{
	background:white;
	box-sizing: border-box;
	box-shadow: 2px 1px 4px gray;
}

.box-shadow{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.text-shadow{
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.text-shadow1{
	text-shadow: 1px 2px 4px black;  
}
.d-inline{
	display: inline;
}
.d-block{
	display: block;
}
.w-100{
	width: 100%;
}
.top-bar{
	width: 98%;
	padding:0 1%;
	position:fixed;
	background-color:rgb(106, 248, 252);
	transition: 0.5s;
	top: 0;
	left: 0;
	z-index: 999999;
}
.m-auto{
	margin: auto;
}
.btn-menu{
	float:right;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.09);
	border-radius: 3px;
	padding: 5px 15px;
	margin-top:15px;
	cursor: pointer;
	display: none;
}
.btn-menu:hover .menu-div{
	background-color: rgb(29, 107, 47);
}
.menu-div{
	width: 25px;
	height: 2px;
	border-radius: 3px;
    background-color: rgba(44, 117, 61, 0.9);
	margin: 6px 0;
}
/* start nav bar menu */
.nav-bar{
	float: right;
	width: available;
	display: block;
}
.nav-bar ul{
	list-style-type: none;
	padding:0px;
	margin:0;
	float: left;
}
.nav-bar ul li{
	float: left;  
	padding: 27px 20px;    
	cursor: pointer;
	transition: 0.5s;
}
.nav-bar ul li a{
	text-decoration: none;
	color:rgb(11, 80, 14);  
	transition: 0.5s;     
}
.nav-bar ul li:first-child{
	background-color:rgba(11, 80, 14,0.4);
	padding-top: 30px;
	padding-bottom: 35px;
}
.nav-bar ul li:first-child a{
	color: yellow;
}
.nav-bar ul li:hover a{
	color: yellow;
  	text-shadow: 1px 2px 4px black;      
}
/* end nav bar menu */
.wrapper-search-box{
	float: left;
	margin: 20px 0px 0px 20px;
}
.wrapper-search-box input[type=text]{
	padding:0;margin:0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../multi-media/image/search.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 10px 0px 6px 30px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 8px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.wrapper-search-box input[type=button] {
    background-color: rgb(106, 248, 252); 
    color: black; 
    border: 2px solid #4CAF50;
}

.wrapper-search-box input[type=button]:hover {
    background-color: #4CAF50;
    color: white;
}
/* start slide */
.slide-box{
	position:relative;
}
.wrapper-slide-title{
	position: absolute;
	padding:15px 25px;
	transition:0.5s;left: 0px;bottom: 10%; background-color:rgba(255,255,255,0.7)
}
/* end slide */
.section-left{
	width:30%;
	float:left;
	box-sizing: border-box;
}
.section-right{
	width: 68%;float: left;
	margin-right: 2%;
	box-sizing: border-box;
}
.section-food{
	width:100%;float:left; padding:0 0px 15px 10px;
}
.wrapper-food-box{
	width:19%;float:left;margin:1% 1% 0 0;transition: 0.5s;
}
.wrapper-food-box:hover{
	box-shadow: 0 0 15px rgba(0,0,0,0.7);
}
.food-img{
	width:100%;float:left;position:relative
}
.food-img img{
	width: 100%;
}
.food-detail{
	position:absolute;bottom:0.5px;left:0;color:whitesmoke;background:rgba(0,0,0,0.7);width:98%;padding:1%;height:35px;transition:0.5s;
}
.food-detail span{
	font-weight:bold
}
.food-detail p{
	font-size:0.9rem;
	display: none;
}
.purpose-section{
	width:80%;float:left;background:white;padding:5% 10% ;
}
.purpose-section span{
	color:darkslategray;
}
/* start right menu */
.wrapper-right-menu{
	float:left;
	padding:5%;
	width:100%;
	border:1px solid rgb(40, 167, 69);
	border-radius: 5px;
	box-sizing:border-box;
}
.header-right-menu{
	float:left;width:96%;padding:2%;border-radius:4px;
	background: rgba(177, 223, 187,0.5);
	color:rgb(36, 143, 61);
	text-align:center;
	margin-bottom: 5px;
}
.header-right-menu span{
	color:rgb(36, 143, 61);
}
.wrapper-box-menu{
	border-radius:50%;
	position:relative;
	float:left;
	width:90px;
	height:90px;
	background-repeat: no-repeat;
	background-size: cover;
	margin:4% 4% 0 0;
	transition: 0.5s;
}
.bg-menu-title{
	width:80%;position:relative;height:80%;margin:10%;background:rgba(255,255,255,0.6);
	border-radius: 50%;
	transition: 0.5s;
}
.wrapper-box-menu:hover .bg-menu-title{
	width:100%;
	height: 100%;
	margin:0;
	background:rgba(255,255,255,0.8);
}
.wrapper-box-menu:hover .bg-menu-title span{
	top:40%;left:25%;
}
.bg-menu-title span{
	position:absolute; top:30%;left:20%;color:rgb(3, 42, 3);transition:0.5s;
	font-size: 0.95rem;
}
/* end right menu */
/* start footer */
.footer-bg{
	background-image:url('../multi-media/image/Mahob-kh.jpg');background-size:cover;background-position:center;background-repeat:no-repeat;
}
.footer-wrapper{
	padding:40px 0;width:100%;float:left;background-color:rgba(0, 111, 54,0.3);
}

.footer-section{
	width:32%;margin-right:1%;float:left;
}
.footer-section p{
	margin-top: 15px;
	color: white;
	font-size: 0.8rem;	
}
.border-btm{
	margin-top:5px;width:100px;height:4px;background:rgb(252, 255, 59)
}
.footer-btm{
	padding:2px 0;float:left;width:100%;background-color:rgb(2, 99, 49)
}
.footer-btm h6{
	padding:0;margin:0;color:whitesmoke;text-align:center;font-size:0.6rem;font-weight:normal
}
.footer-section ul{
	list-style-type: none;
	padding: 0;
}
.footer-section ul a:hover{
	color: aliceblue
}
.footer-section ul li a{
	color:rgb(247, 252, 0);
	margin-left: 5px;
	font-size: 0.8rem;
	text-shadow: 1px 2px 4px black;  
}
/* start about */
.about-section{
	float:left;position:relative;
	z-index: -1;
	background-size:cover;
	background-position:right;
	background-image:url('../multi-media/image/rupp.jpg');
	background-repeat:no-repeat;
	width:100%;
	padding: 2%;
}
.about-section h1{
	color:rgb(233, 233, 3);
}
.bg-about{
	background:rgba(255,255,255,0.9);width:100%;overflow:hidden;margin-bottom:10px;
}
.about-padding{
	padding:30px;float:left;
}
.about-box-detail{
	width:75%;float:left
}
.about-box-detail p{
	font-size:1.1rem
}
.about-box-profile{
	width:25%;float:left;
	border-radius: 10px;
}
.profile-bg{
	background:white;width:90%;padding:5%;float:left;border-radius:5px;
}
.profile-box{
	width:100%;float:left;
}
.profile-box img{
	border-radius:50%;
	width:100%;
	border:4px solid white;
	box-sizing: border-box;
}
.profile-detail{
	width:100%;float:left;text-align:center;
}
.member-wrapper{
	width:100%;margin-top:-75px;float:left;z-index:9999;
}
.member-box{
	width:150px;float:left;margin-left: 5%;
	margin-bottom: 20px;
}
.member-box img{
	box-sizing:border-box; border:3px solid white;
}
/* end about */
/* end footer */
/* start subpage */
.big_slide{
	width: 100%;
	float: left;
}
.big_slide img{
	width: 100%;
}
.small_slide{
	width: 100%;
	background: #eee;
	float: left;

}
.description{
	width: 100%;
	overflow: hidden;
	padding: 10px;
}
.substance{
	width: 67%;
	overflow: hidden;
	float: left;
}
.new{
	width: 30%;
	overflow: hidden;
	float: right;
	margin-right: 20px;
}
.box_sub{
	border: 1px solid #ddd;
	margin-bottom: 20px;
}
.box_how{
	border: 1px solid #ddd;
}
.title{
	width: 100%;
	height: 70px;
	line-height: 65px;
	background: #ddd;
	padding-left: 25px;
	font-size: 25px;
	
}
.body_substance{
	width: 100%;
	overflow: hidden;
	padding: 20px;
}
.body_howto{
	width:100%;
	height: 300px;
	text-align: justify;
}
.body_howto p{
	padding: 0px 20px;
}
.food_name{
	width: 100%;
	overflow: hidden;
	padding: 15px;
	text-align: center;
	background: rgba(0,0,0,0.5);
}
.food_name h1{
	color:rgb(0, 111, 54);
}
.title_new_food{
	position: absolute;
	width: 27.8%;
	height: 86px;
	line-height: 20px;
	background: rgba(0,0,0,0.5);
	margin-top: -126px;
	color: #fff;
	padding: 15px;      
}
.img_cover{
	position: relative;
}

/* end subpage */
/* stat submenu */
.wrapper-submenu{
	width:100%;float:left;
	margin-bottom: 40px;
}
.no-text-decoration{
	text-decoration: none;
	color: rgb(29, 107, 47);
	transition: 0.5s;
}
.no-text-decoration:hover{
	text-decoration: underline;
}
.wrapper-submenu-header{
	width:100%;float:left;border-bottom: 2px solid rgb(252, 255, 59);
}
.wrapper-submenu-header-style{
	width:100%;float:left;border-bottom: 5px solid rgb(2, 99, 49);
}
.sub-food{
	color:rgb(2, 99, 49);font-size: 1.3rem
}
.btn-see-more{
	float:right;
}
.btn-see-more a{
	text-decoration:none; color:rgb(2, 99, 49);font-size:0.9rem;
}
.btn-see-more a i {
	background-color:rgb(2, 99, 49);color:white;padding:3px;font-size:0.5rem;
	border-radius: 50%
}
.wrapper-food-box-submenu{
	width:100%;float:left
}
.btn-see-more-subpage{
	width:100%;float:left; margin-top: 10px;
	transition: 0.5s;
}
.btn-see-more-style:hover {
	background:green;
	border:2px solid yellow;
	color: yellow;
	box-shadow: 0 10px 20px gray;	
}
.btn-see-more-style{
	background:rgb(106, 248, 252);border-radius:50%;width:70px;
	height:70px;margin:auto;padding:10px;
	border:1px solid green;box-sizing:border-box;color:rgb(3, 73, 36);
	transition: 0.5s;cursor: pointer;
}
.btn-see-more-style span{
	font-size:0.8rem;
}
.wrapper-new-food{
	width:100%;float:left
}
.wrapper-new-food .header-new-food{
	width:100%;float:left;background:#eee;
}
.header-new-food h2{
	color:rgb(2, 99, 49)
}
.wrapper-new-food-bg{
	background:white;width:100%;float:left;
	margin-bottom: 40px;padding:20px 0 20px 20px
}
.new-food-card{
	width:31%;padding:2%;
	background:whitesmoke;margin:10px 0;float:left;
	box-sizing:border-box;
	border:1px solid #ccc;margin-right:2.3%;
	border-radius: 5px;transition: 0.5s;cursor: pointer;
}
.new-food-card .img-box{
	width:100%;float: left;
}
.new-food-card .img-box img{
	width: 100%;
}
.new-food-card .content-detail{
	width:100%;float:left
}
.new-food-card .content-detail span{
	font-size:1.2rem
}
.new-food-card .content-detail span{
	font-size:1rem
}
.new-food-card:hover{
	box-shadow: 0 0 10px gray;
	padding: 1% 0%;
}
/* end submenu */
/* start contact us */
.form-box{
	width:46%;padding:2%;float:left;background:white;border-radius: 10px;
}
.form-box h2{
	color:rgb(11, 80, 14);
}
.form-box input, .form-box textarea{
	width:96%;
	padding:10px 2%;
	border-radius: 4px;
	border:1px solid rgb(106, 248, 252);
	margin-bottom: 40px;
}
.form-box input[type="submit"]{
	background:rgb(106, 248, 252);
	transition: 0.5s;
	border:1px solid rgb(5, 161, 81);
}
.form-box input[type="submit"]:hover{
	background:rgb(5, 161, 81);
	color: white;	
	cursor: pointer;
	border:1px solid rgb(106, 248, 252);
}
input[value], [placeholder]{
	 font-family: 'Angkor', Tahoma, Geneva, Verdana, sans-serif;
	 font-size: 1rem;
	 color: rgb(11, 80, 14);
	 border:1px solid rgb(106, 248, 252);
}
.mb-50{
	margin-bottom: 50px;
}
.wrapper-con-box1{
	width:48%;margin-right:2%;float:left;
}
.wrapper-cont-box1 h2{
	color: rgb(16, 104, 20);
}
.wrapper-con-box1 p{
	font-size: 1rem;	
}
.wrapper-con-box1 p a{
	display: block;
	margin:0 0 30px 50px;
}

/* end contact us */
/* Medium devices (landscape tablets,992px and Down) */
@media only screen and (max-width: 992px){
	
	.btn-menu{
		display: block;
	}
	/* start nav bar menu */
	.nav-bar{
		border-top: 1px solid rgba(11, 80, 14,0.5);
		width: 100%;
		padding-bottom: 20px;
		display: none;
	}
	.nav-bar ul{
		width: 100%;
	}
	.nav-bar ul li{
		width:100%;
		padding: 20px 20px;    
		cursor: pointer;
	}
	h1{
		font-size: 1.2rem;
	}
	h4{
		font-size: 0.9rem;
	}
	
	/* end nav bar menu */
	.container{
		padding: 0;
		width: 98%;
		padding:0 1%;
		float: left;
	}

	.section-right,.section-left{
		width:100%;
		margin-right: 0%;
	}
	.footer-section{
		width:100%;
	}
	.wrapper-food-box{
		width:49%;float:left;margin:1% 1% 0 0;transition: 0.5s;
	}
	.about-box-profile{
		width:250px;
	}
	.about-box-detail{
		width:100%;
	}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	
	.btn-menu{
		display: none;
	}
	.nav-bar{
		display: block;
	}
	.container{
		width: 90%;
		margin: auto;
	}
	.container-fluid{
		width: 100%;
	}
	
	.footer-section{
		width:32%;
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.nav-bar{
		display: block;
	}
	.container{
		max-width: 1150px;
		margin: auto;
		overflow: hidden;
	}
	.container-fluid{
		width: 100%;
		float: left;
		overflow: hidden;
	}
	.mt-100{
		margin-top: 100px;
	}
	.footer-section{
		width:32%;
	}
}